/* ROOT STYLES

:root
  // dimensions
  --header-height: 96px

  // colors
  --first-color: hsl(0, 0%, 100%)
  --second-color: hsl(229, 77%, 90%)
  --body-color: hsl(230, 35%, 7%)

  --black: hsl(0, 0%, 0%)
  --white: hsl(0, 0%, 100%)

  // fonts
  --body-font: 'Barlow', sans-serif

  // transitions
  --hover-transition: all .4s ease

  // z-index
  --z-fixed: 100

  // responsive typography
