// Modules

@use 'media-lib'

/* ROOT STYLES

:root
  // dimensions
  --header-height: 96px

  // colors
  --first-color: hsl(0, 0%, 100%)
  --second-color: hsl(229, 77%, 90%)
  --body-color: hsl(230, 35%, 7%)

  --black: hsl(0, 0%, 0%)
  --white: hsl(0, 0%, 100%)

  // fonts
  --body-font: 'Barlow', sans-serif

  --nav-font-size: .9rem

  // transitions
  --hover-transition: all .4s ease
  --orientation-transition: all .3s ease

  // z-index
  --z-fixed: 100

  // responsive typography
  +media-lib.breakpoint(media-lib.$md)
    --nav-font-size: .8rem
