// Modules

@use 'media-lib'

/* ROOT STYLES

:root
  // dimensions
  --header-height: 96px
  --button-size: 275px
  --button-hover-size: 450px 

  // colors
  --first-color: hsl(0, 0%, 100%)
  --second-color: hsl(229, 77%, 90%)
  --body-color: hsl(230, 35%, 7%)
  --container-color: hsl(235, 18%, 13%)

  --black: hsl(0, 0%, 0%)
  --white: hsl(0, 0%, 100%)

  // fonts
  --body-font: 'Barlow', sans-serif

  --h1-font-size: 150px
  --h5-font-size: 1.6rem
  --body-font-size: 1rem
  --button-font-size: 1.8rem
  --nav-font-size: .9rem

  // transitions
  --base-transition: all .4s ease
  --hover-transition: all .4s ease
  --orientation-transition: all .3s ease

  // z-index
  --z-fixed: 100

  // Responsive dimensions

  // medium devices
  +media-lib.breakpoint(media-lib.$md)
    --button-size: 242px
    --button-hover-size: 385px

  // small devices
  +media-lib.breakpoint(media-lib.$xs)
    --header-height: 88px
    --button-size: 150px
    --button-hover-size: 240px

  // Responsive typography

  // medium devices
  +media-lib.breakpoint(media-lib.$md)
    --h5-font-size: 1.1rem
    --body-font-size: .9rem
    --nav-font-size: .8rem

  // small devices
  +media-lib.breakpoint(media-lib.$xs)
    --h1-font-size: 80px
    --h5-font-size: .9rem
    --body-font-size: .83rem
    --button-font-size: 1.1rem
    --nav-font-size: .9rem
