//- Project

- const projectName = "Space Tourism"

//- Company

- const companyName = ""

//- Path

- const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

- const navLinks = [{ label: 'Home', rel: 'home' }, { label: 'Destination', rel: 'destination' }, { label: 'Crew', rel: 'crew' }, { label: 'Technology', rel: 'technology' }]

//- Data

//- Cards

//- Items

//- Sections
