//- Project

- const projectName = "Space Tourism"

//- Company

- const companyName = ""

//- Path

- const faviconUrl = "@files/favicon/favicon.png"

//- Navigation

- const navLinks = []

//- Data

//- Cards

//- Items

//- Sections
