/* HEADINGS

.heading
  font:
    family: 'Bellefair', serif
    weight: 400
  text-transform: uppercase

.heading-1
  font-size: 150px

.heading-5
  font:
    size: 1.6rem
    family: 'Barlow Condensed', sans-serif
  letter-spacing: .26rem
  color: var(--second-color)
