// Modules

// plugins
@use '../plugins/plugins-dir' as plugins

// mixins
@use '../base/mixins'

// media-lib
@use '../base/media-lib'

/* NAV

.nav
  display: flex
  justify-content: space-between
  align-items: center
  column-gap: 1rem
  height: var(--header-height)

  // large devices
  +media-lib.breakpoint(media-lib.$xl)
    column-gap: initial

.nav__logo img
  +plugins.size(48px)

  // small devices
  +media-lib.breakpoint(media-lib.$sm)
    +plugins.size(40px)

.nav__accent
  flex: 1
  height: 1px
  background-color: var(--first-color)
  transform: translateX(64px)
  z-index: 1
  opacity: .25

  // large devices
  +media-lib.breakpoint(media-lib.$xl)
    display: none

.nav__menu
  display: flex
  column-gap: 2.6rem
  padding: 0 165px 0 125px
  +mixins.bg-blur
  position: relative
  transition: var(--orientation-transition)

  // medium devices
  +media-lib.breakpoint(media-lib.$md)
    padding: 0 48px

  // small devices
  +media-lib.breakpoint(media-lib.$sm)
    padding: 0 38px
    column-gap: 2rem

  // small devices
  +media-lib.breakpoint(media-lib.$xs)
    flex-direction: column
    row-gap: 1.8rem
    +plugins.size(66vw, 100%)
    padding: 118px 0 0 32px
    +plugins.position(fixed, 0 -100% null null)
    z-index: -1
    transition: var(--base-transition)

.nav__link
  &.active a:before
    width: 100%
    opacity: 1

.nav__link a
  display: inline-flex
  align-items: center
  height: var(--header-height)
  letter-spacing: .15rem
  font:
    size: var(--nav-font-size)
    family: 'Barlow Condensed', sans-serif
  text-transform: uppercase
  position: relative
  transition: var(--orientation-transition)

  // medium devices
  +media-lib.breakpoint(media-lib.$md)
    letter-spacing: .13rem

  // small devices
  +media-lib.breakpoint(media-lib.$xs)
    height: initial
    letter-spacing: .15rem

    &:before
      display: none

  &:before
    content: ''
    +plugins.size(0, 3px)
    background-color: var(--first-color)
    +plugins.position(absolute, null 50% 0 null)
    transform: translateX(50%)
    transition: var(--hover-transition)
    opacity: .5

  &:hover:before
    width: 100%

.nav__link span
  margin-right: .6rem
  font-weight: 700

  // medium devices
  +media-lib.breakpoint(media-lib.$md)
    display: none

  // small devices
  +media-lib.breakpoint(media-lib.$xs)
    display: block

.nav__hamburger
  display: none

  // small devices
  +media-lib.breakpoint(media-lib.$xs)
    display: block
